<h1>Artist Page: </h1>
<h2>Name:</h2>
<%= @artist.name %>
<h2>Bio:</h2>
<%= @artist.bio %>
<br>
<br>
<%= link_to "edit artist", edit_artist_path(@artist) %>
<br>
<%= link_to "view all artists", artists_path %>
